body {
	background-color: #b2ebf2;
}

span {
	text-align: center;
	color:#000;
	font-family: geometos;
}

.card {
	height:450px;
	position: absolute;
	top:80px;
	box-shadow: 
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.buttontwo {
	text-align: center;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 0px;
    text-transform: uppercase;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

footer {
	position: relative;
	margin-top:650px;
	z-index: -10000000
	color:black;
}

.page-footer
{
	background-color: #212121;
	font-family: geometos;
}

nav
{
	background-color: #424242;
	font-family: geometos;
}

