.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
    background-color: #b2ebf2;
}

.card-1 {
    height: 400px;
}

.card-2 {
    height: 300px;
}

.card-3 {
    height: 400px;
}

.card-4 {
    height: 400px;
}

.card-5 {
    height: 400px;
}

.card-6 {
    height: 400px;
}
.image-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position:relative;
    z-index: 10000000000000;
    background-color: orange;
    top:-70px;
    left:70px;
}

span {
    text-align: center;
    font-family: geometos;
    font-size: 24px;
    font-weight: bold;
}

.sub-heading-2 {
    text-align: center;
    font-family: geometos;
    font-size: 24px;
    text-transform: uppercase;
}
