body {
	background-color: #202636;
}

.card-panel {
	padding:20px;
	height:500px;
	position: absolute;
	top:100px;
	left:70px;
	z-index: 10;
	border-radius:4px;
}

.center-align {
	color:orange;
	font-family: geometos;
	font-size: 30px;
	padding-left: 470px;
}

.bg-img {
	width: 100%;
	height: 100%;
	background: url(../images/bgimg.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 0;
	opacity: 0.2;
	left: 0;
	top:0;
}

.dummy-text {
	color:white;
	font-family: geometos;
	width:600px;
	height:400px;
	position: absolute;
	left:580px;
	z-index: 100000;
	top:100px;
	text-align: justify;
    text-justify: inter-word;
}

.buttontwo a {
	position:relative;
	top:30px;
	left:45px;
}