{% load staticfiles %}
{% if request.user.is_authenticated %}
<html>
<head>
<title>Theme-Thunder</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
<link href="{% static "css/port1.css" %}" rel="stylesheet">


</script>
</head>
<body>
 
</body>
</html>
{% endif %}
