{% if request.user.is_authenticated %}
{% load staticfiles %}


<html>
<head>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<link href="{% static "css/profile.css" %}" rel="stylesheet">
</head>
<body>
<header>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><i class="tiny material-icons">perm_identity</i></li><li><a href="#">{{ user.username }}{{ user.id }}</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">xyz</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>



<main>
<div class="container">
<div class="row valign-wrapper">

<div class="card white card-1">
<div class="card-content black-text">
<span>Fill the form to create your portfolio</span>
  <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
{{ form.as_p }}
<div class="buttontwo">
        <button class="waves-effect waves-light btn" type="submit">GENERATE</button>
        </div>
</form>
</div>
</div>

</div>
</div>
</main>





        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Online Portfolio Maker</h5>
                <p class="grey-text text-lighten-4">You can use this application to make your online portfolio anywhere anytime and can share it to any other persons.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Join Our Team</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>
</body>
</html>
{% else %}
<span>please login first</span>
{% endif %}
